I/ Name
    1/ Folder name: low case
    2/ File name: upper case (except index.js)
    3/ The new class: upper case
II/ Test component
    1/ Only call tested component in demo file
III/ Process state
    1/ Write all component
    2/ Write all container with using component
    3/ Route page
    4/ Action, reducer to use the data
IV/ Writing
    1/ Write all component base on the Base... .js file
V/ Commit code
    1/ Write code on your branch
    2/ Commit code to your branch
    3/ Others member pull the new code with corresponding branch: checkout code, pull newcode
    4/ Review the new code on that member branch
    5/ Notice to that member after finish
    6/ That member has to go on branch master and merge with his branch: git merge branchname
    7/ Delete .idea/workspace.xml before commit and turn off al IDE.
    8/ All other members pull new code from branch to their branch and branch master.: git pull origin master